*.png
*.tgz
error_log
pycharm_log
*.md
mobilenet_v2_1.0_224_quant
resnet_v1_50_2016_08_28
*.tflite

\.idea/

\.ipynb_checkpoints/

data/

logs/

model/

1\.py

2\.py

1_convert_TF_to_TRT\.ipynb

2_inference_using_TensorRT-model\.ipynb

3_visualize_the_original_and_optimized_models\.ipynb

4_convert_Keras_model_to_Tensorflow\.ipynb

resnet_v1_50_2016_08_28\.tar\.gz

test\.py
